/* For desktop: */
/*
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
*/

/*
@media only screen and (max-width: 768px) {
     For mobile phones: 
    [class*="col-"] {
        width: 100%;
    }
}
*/

.namebar{
    background-color: #ffe4e1;
    font-family: 'Playball', cursive;
    font-size:3.9vw;
    color:#737373;
    margin: 0px;
    padding: 10px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#mainNav{
    background-color: white;
    border: 0px;
    margin-bottom: 0px;
}

/*
.bodymain{
    margin: 10px;
    padding: 10px;
}
*/

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 520px;
      height: 520px;
      margin: auto;
  }

#contactimg_phone{
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
}

#contactimg_email{
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
}

.portofoliopara{
    color: #ffb6c1;
    font-family: 'Courgette';
    font-size: 20px;
}

b{
    color: black
}

.portfolioheading{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 40px;
}

#aboutphoto{
    margin-left: 10px;
    padding-left: 10px;
    float: left;
}

.aboutheading{
    font-family: 'Bungee Inline', cursive;
}

.aboutpara{
    font-family: 'Kaushan Script', cursive;
}

span{
   color: #ffb6c1; 
}

.aboutparapink{
    color: #ffb6c1; 
    font-size: 18px;
}

.tableheading{
    font-size: 20px;
}