<div class="text-center container-fluid">
   <div class="row">
    <h1 class="portfolioheading">Zaria</h1>
    <img src="/images/zaria.png" alt="" class="col-xs-12 col-md-offset-3 col-md-6 text-center"> <br> <br>
       <p class="portofoliopara col-md-12">Zaria is a website which connects the people who want to donate with the people who needs help. This website was made for the college's social work society, Zaria. It shows all the NGOs to which the society is connected.<br><b style="color:black">Skills used-</b> HTML, CSS, Bootstrap, JS and Jquery <br> <b>Link-</b> <a href="https://github.com/Ashima15/zaria" target="_blank">https://github.com/Ashima15/zaria </a> </p> 
    <br> <br> <br>
   </div>    
   
   <div class="row">
       <h1 class="portfolioheading">Find the penguins</h1>
       <img src="/images/penguins.png" alt="" class="col-xs-12 col-md-offset-3 col-md-6 text-center"> <br> <br>
       <p class="portofoliopara col-md-12">Find the penguins is a game where you have to find the penguins hidden inside their nests and the score increaes with all the correct clicks. Once you find a yeti, the game is over. <br><b>Skills used-</b> HTML,CSS,Bootstrap and JS <br> <b>Link-</b> <a href="https://github.com/Ashima15/Find-my-penguins" target="_blank">  https://github.com/Ashima15/Find-my-penguins </a> </p> <br> <br> <br>
   </div>
   
   <div class="row">
       <h1 class="portfolioheading">Friend App</h1>
       <img src="/images/friend.png" alt="" class="col-xs-12 col-md-offset-3 col-md-6 text-center"> <br> <br>
       <p class="portofoliopara col-md-12">This is like a contact book where you can sort all your contacts by E-mail or name. You can also search any contact by phone no. or name or E-mail. This app is based on http server calls and filters.<br><b>Skills used-</b> HTML,CSS and AngularJS <br> <b>Link-</b> <a href="https://github.com/Ashima15/Friendapp-in-angular-1" target="_blank"> https://github.com/Ashima15/Friendapp-in-angular-1 </a> </p> <br> <br> <br>
   </div>
   
   <div class="row">
       <h1 class="portfolioheading">ABC App</h1>
       <img src="/images/abc.png" alt="" class="col-xs-12 col-md-offset-3 col-md-6 text-center"> <br> <br>
       <p class="portofoliopara col-md-12">This is a simple website made for children to learn alphabets. Audio is added for proper pronunciation. This app is based on angular carousel<br><b>Skills used-</b> HTML,CSS and AngularJS <br> <b>Link-</b> <a href="https://github.com/Ashima15/ABC-app-in-angular-1" target="_blank"> https://github.com/Ashima15/ABC-app-in-angular-1 </a></p> <br> <br> <br>
   </div> 
</div>